.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box; /*O espaçamento está dentro do tamanho do elemento, não aumenta*/

    /*border-color: #000000;
    border-width: 2px;
    border-style: solid;*//*Declaração completa*/

    border: 2px solid #000000; /*Declaração unificada*/
    border-radius: 10px;
}

.produtos li:hover { /*Altera o estilo do elemento quando o mouse passar por cima*/
    border-color: #C78C18;
}

.produtos li:hover h2 { /*Qual deve ser o estilo do h2 dentro do li de produtos, quando o mouse passar por cima do li*/
    font-size: 35px;
}

.produtos li:active { /*Altera o estilo enquanto clicado*/
    border-color: #088C18;
}

.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}

.produto-descricao {
    font-size: 18px;
}

.produto-preco {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

@media screen and (max-width: 480px) {
    .produtos {
        width: auto;
    }

    .produtos li {
        display: block;
        margin: 20px auto;
        width: 90%;
        
    }
}